@tailwind base;
@tailwind components;
@tailwind utilities;

#root-view {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#root-view::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-rowdies {
    font-family: 'Rowdies', cursive;
}

